<!doctype html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<main>
    <div class="container mt-5 p-2">
        <div class="row justify-content-center g-4">

            <!-- Users Card -->
            <div class="col-xl-3 col-md-6">
                <div class="card shadow-sm border-start-lg border-start-danger h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="flex-grow-1">
                                <h3 class="text-danger mb-2">Users</h3>
                                <div class="text-xs text-muted d-flex align-items-center">
                                    Manage user data and perform CRUD operations.
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="fas fa-users fa-2x text-danger"></i>
                            </div>
                        </div>
                        <a href="/user" class="stretched-link btn btn-danger">Go to Users</a>
                    </div>
                </div>
            </div>

            <!-- Workspace Card -->
            <div class="col-xl-3 col-md-6">
                <div class="card shadow-sm border-start-lg border-start-secondary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="flex-grow-1">
                                <h3 class="text-secondary mb-2">Workspace</h3>
                                <div class="text-xs text-muted d-flex align-items-center">
                                    Manage Workspace data and perform CRUD operations.
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="fa-solid fa-house fa-2x text-secondary"></i>
                            </div>
                        </div>
                        <a href="/workspace" class="stretched-link btn btn-secondary">Go to Workspace</a>
                    </div>
                </div>
            </div>

            <!-- Location Card -->
            <div class="col-xl-3 col-md-6">
                <div class="card shadow-sm border-start-lg border-start-info h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="flex-grow-1">
                                <h3 class="text-info mb-2">Location</h3>
                                <div class="text-xs text-muted d-flex align-items-center">
                                    Manage Location data and perform CRUD operations.
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="fa-solid fa-map-location-dot fa-2x text-info"></i>
                            </div>
                        </div>
                        <a href="/locations" class="stretched-link btn btn-info">Go to Location</a>
                    </div>
                </div>
            </div>

            <!-- Bookings Card -->
            <div class="col-xl-3 col-md-6">
                <div class="card shadow-sm border-start-lg border-start-success h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="flex-grow-1">
                                <h3 class="text-success mb-2">Bookings</h3>
                                <div class="text-xs text-muted d-flex align-items-center">
                                    Manage Booking data operations.
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="fa-solid fa-book fa-2x text-success"></i>
                            </div>
                        </div>
                        <a href="/bookings" class="stretched-link btn btn-success">Go to Bookings</a>
                    </div>
                </div>
            </div>

            <!-- Amenities Card -->
            <div class="col-xl-3 col-md-6">
                <div class="card shadow-sm border-start-lg border-start-warning h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="flex-grow-1">
                                <h3 class="text-warning mb-2">Amenities</h3>
                                <div class="text-xs text-muted d-flex align-items-center">
                                    Manage Amenities crud operations.
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="fa-solid fa-puzzle-piece fa-2x text-warning"></i>
                            </div>
                        </div>
                        <a href="/amenities" class="stretched-link btn btn-warning">Go to Amenities</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>
